# Compamy Data  Question 1

In [1]:
import pandas as pd 
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [6]:
company=pd.read_csv('Company_Data.csv')
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [7]:
company['ShelveLoc']=company['ShelveLoc'].map({'Good':3,'Medium':2,'Bad':1})
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,1,42,17,Yes,Yes
1,11.22,111,48,16,260,83,3,65,10,Yes,Yes
2,10.06,113,35,10,269,80,2,59,12,Yes,Yes
3,7.40,117,100,4,466,97,2,55,14,Yes,Yes
4,4.15,141,64,3,340,128,1,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,3,33,14,Yes,Yes
396,6.14,139,23,3,37,120,2,55,11,No,Yes
397,7.41,162,26,12,368,159,2,40,18,Yes,Yes
398,5.94,100,79,7,284,95,1,50,12,Yes,Yes
399,9.71,134,37,0,27,120,3,49,16,Yes,Yes

In [8]:
company=pd.get_dummies(company,columns=['Urban','US'],drop_first=True)
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban_Yes,US_Yes
0,9.50,138,73,11,276,120,1,42,17,1,1
1,11.22,111,48,16,260,83,3,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,1,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,3,33,14,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1
397,7.41,162,26,12,368,159,2,40,18,1,1
398,5.94,100,79,7,284,95,1,50,12,1,1
399,9.71,134,37,0,27,120,3,49,16,1,1

In [9]:
x=company.drop(['ShelveLoc'],axis=1)
y=company['ShelveLoc']
x

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,Urban_Yes,US_Yes
0,9.50,138,73,11,276,120,42,17,1,1
1,11.22,111,48,16,260,83,65,10,1,1
2,10.06,113,35,10,269,80,59,12,1,1
3,7.40,117,100,4,466,97,55,14,1,1
4,4.15,141,64,3,340,128,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,1,1
396,6.14,139,23,3,37,120,55,11,0,1
397,7.41,162,26,12,368,159,40,18,1,1
398,5.94,100,79,7,284,95,50,12,1,1
399,9.71,134,37,0,27,120,49,16,1,1

In [10]:
y

0      1
1      3
2      2
3      2
4      1
      ..
395    3
396    2
397    2
398    1
399    3
Name: ShelveLoc, Length: 400, dtype: int64

In [11]:
seed=7
kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
cart=DecisionTreeClassifier()
num_trees=50
model_B_1=BaggingClassifier(base_estimator=cart,n_estimators=num_trees,random_state=seed)
result=cross_val_score(model_B_1,x,y,cv=kfold)
print(result.mean())

0.6599999999999999

In [16]:
from sklearn.ensemble import RandomForestClassifier
X=company.drop(['ShelveLoc'],axis=1)
Y=company['ShelveLoc']

In [17]:
num_trees=50 
Kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
model_RF_1=RandomForestClassifier(n_estimators=num_trees,max_features=3)
Result=cross_val_score(model_RF_1,X,Y,cv=Kfold)
print(Result.mean())

0.645

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=7)

In [31]:
model_RF_1.fit(X_train,Y_train)

RandomForestClassifier(max_features=3, n_estimators=50)

In [32]:
model_RF_1.feature_importances_

array([0.2961588 , 0.09675354, 0.10140106, 0.06708783, 0.11352203,
       0.12691141, 0.09993446, 0.06151079, 0.02002256, 0.01669752])

# Fraud Question 2

In [22]:
fraud=pd.read_csv('Fraud_check.csv')
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [23]:
fraud["TaxStatus"] = pd.cut(fraud["Taxable.Income"], bins = [0,30000,1000000], labels = ["Risky", "Good"])
fraud.drop(['Taxable.Income'],axis=1)

    Undergrad Marital.Status  City.Population  Work.Experience Urban TaxStatus
0          NO         Single            50047               10   YES      Good
1         YES       Divorced           134075               18   YES      Good
2          NO        Married           160205               30   YES      Good
3         YES         Single           193264               15   YES      Good
4          NO        Married            27533               28    NO      Good
..        ...            ...              ...              ...   ...       ...
595       YES       Divorced            39492                7   YES      Good
596       YES       Divorced            55369                2   YES      Good
597        NO       Divorced           154058                0   YES      Good
598       YES        Married           180083               17    NO      Good
599        NO       Divorced           158137               16    NO      Good

[600 rows x 6 columns]

In [25]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
fraud['Undergrad']= label_encoder.fit_transform(fraud['Undergrad'])
fraud['Marital.Status']= label_encoder.fit_transform(fraud['Marital.Status'])
fraud['Urban']= label_encoder.fit_transform(fraud['Urban'])
fraud['TaxStatus']= label_encoder.fit_transform(fraud['TaxStatus'])
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,TaxStatus
0,0,2,68833,50047,10,1,0
1,1,0,33700,134075,18,1,0
2,0,1,36925,160205,30,1,0
3,1,2,50190,193264,15,1,0
4,0,1,81002,27533,28,0,0
...,...,...,...,...,...,...,...
595,1,0,76340,39492,7,1,0
596,1,0,69967,55369,2,1,0
597,0,0,47334,154058,0,1,0
598,1,1,98592,180083,17,0,0
599,0,0,96519,158137,16,0,0

In [27]:
X2=fraud.drop(['TaxStatus'],axis=1)
Y2=fraud['TaxStatus']

In [28]:
seed=7
kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
cart=DecisionTreeClassifier()
num_trees=50
model_B_2=BaggingClassifier(base_estimator=cart,n_estimators=num_trees,random_state=seed)
result=cross_val_score(model_B_2,X2,Y2,cv=kfold)
print(result.mean())

0.9983333333333334

In [29]:
num_trees=50 
kFold=KFold(n_splits=10,random_state=seed,shuffle=True)
model_RF_2=RandomForestClassifier(n_estimators=num_trees,max_features=3)
Result=cross_val_score(model_RF_2,X2,Y2,cv=kFold)
print(Result.mean())

0.9983333333333334

In [33]:
X2_train,X2_test,Y2_train,Y2_test=train_test_split(X2,Y2,test_size=0.25,random_state=7)

In [34]:
model_RF_2.fit(X2_train,Y2_train)

RandomForestClassifier(max_features=3, n_estimators=50)

In [35]:
model_RF_2.feature_importances_

array([1.37971824e-03, 7.26673338e-04, 9.61724141e-01, 2.37028021e-02,
       1.13845176e-02, 1.08214732e-03])